.App {
  text-align: center;
}

.App-header {
  padding-inline: 32px;
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.Button {
  min-width: 240px;
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
  border-radius: 5px;
}
